# Fichier .dockerignore pour optimiser la build
node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.*
*.md
README.md
.vscode
.idea
*.log
coverage
.DS_Store
test
*.test.ts
*.test.js
docker
fly.toml
Dockerfile
.dockerignore
src/scripts
